/*
.css-1pahdxg-control {
    border: 1px solid black !important;
    border-radius: 0 5px 5px 0 !important;
    box-shadow: none !important;
}

.css-yk16xz-control {
    border: 1px solid transparent !important;
}*/
