* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.admin-certificate-container {
    min-width: 50%;
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.admin-certificate-data {
    width: 100%;
}

.admin-certificate-tags-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-certificate-tags-table > p {
    font-weight: bold;
}